$color-primary: #005591;
$color-caption: #2f2f2f;
$color-border: rgba(85, 85, 85, 0.25);

$trans-hover: ease all 0.4s;

@font-face {
    font-family: Poppins-regular;
    src: url('../fonts/poppins/Poppins-regular.ttf');
}

@font-face {
    font-family: Poppins-bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-semi;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: Poppins-bold-italic;
    src: url('../fonts/poppins/Poppins-BoldItalic.ttf');
}

@font-face {
    font-family: Poppins-med-italic;
    src: url('../fonts/poppins/Poppins-MediumItalic.ttf');
}

@font-face {
    font-family: Poppins-med;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: BraveEight;
    src: url('../fonts/brave/BraveEightyoneRegular-ZVGvm.ttf');
}

@font-face {
    font-family: Gobold-Bold;
    src: url('../fonts/gobold/Gobold Bold.ttf');
}

$poppins-regular: "Poppins-regular", Arial, Tahoma;
$poppins-bold: "Poppins-bold", Arial, Tahomaa;
$poppins-semi: "Poppins-semi", Arial, Tahoma;
$poppins-bold-italic: "Poppins-bold-italic", Arial, Tahoma;
$poppins-med-italic: "Poppins-med-italic", Arial, Tahoma;
$poppins-med: "Poppins-med", Arial, Tahoma;

$color-fb: #1877f2;
$color-tw: #1da1f2;
$color-ig: #f00073;
$color-yt: #ff0000;

html, body{
    height: 100%;
    margin: 0;
}

body{
    font-family: "Poppins-med", Arial, Tahoma !important;
    line-height: 1.5;
    scroll-behavior: smooth;
    background-color: #fff !important;
    background-image: none !important;
}

a{
    text-decoration: none !important;

    &:hover, &:focus{
        text-decoration: none !important;
    }
}

.content-row{
    display: flex;
    flex-wrap: wrap;
}

.content-clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content-left{
    float: left;
}

.content-right{
    float: right;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

*, ::before, ::after{
    box-sizing: border-box;
}

.gold{
    color: #fdb622;
}

.bg-gold{
    background: #fdb622;
}

.bg-pink{
    background: #fb62a7;
}

.bg-blue{
    background: #59ccfc;
}

.bg-tosca{
    background: #59fcd0;
}